.table {
  border-collapse: collapse;
  min-width: 90%;

  margin-top: 1em;
  margin-left: 5%;
  th,
  td {
    border-bottom: 1px solid #e9edf2;
    padding: .75rem;
  }

  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  thead {
    tr {
      background-color: white !important;
    }
  }

  tr {
    margin: 1rem 0;
  }
}